*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.claude/
.kotlin/
app/release/

# Exclude all markdown files except README
*.md
!README.md
